<div class="container">
  <div id="eventDetailsContainer">
    <div class="row justify-content-center align-items-center">

      <div class="col-md-4 event-details-img">
        {{#with event}}
        <figure><img src="{{images.0.url}}" alt="{{name}}"></figure>
        <figcaption></figcaption>
      </div>

      <div class="col-md-8">
        <h2>{{name}}</h2>
        <hr>
        <ul>
          <li>Date: {{dates.start.localDate}}</li>
          <li>Venue: {{_embedded.venues.0.name}}</li>
          <li>City: {{_embedded.venues.0.city.name}}</li>
          <li>Price: {{priceRanges.0.max}} - {{priceRanges.0.currency}}</li>
        </ul>
        <hr>
        <p><strong>Description:</strong> {{info}}</p>
        <hr>
        <a class="btn btn-warning btn-lg" href="{{url}}" target="_blank">Buy tickets</a>
        {{/with}}
        {{#if isLogged}}

        <a class="btn btn-info btn-lg" href="/events/{{event.id}}/edit">Edit event</a>
        <button type="button" class="btn btn-dark btn-lg" value="{{event.id}}">Fav</button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#staticBackdrop">
          Delete event
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>This action is irreversible, are you sure?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <form action="/events/{{event.id}}/delete" method="POST">
                  <button class="btn btn-danger" type="submit">Confirm</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {{/if}}

      </div>
    </div>
  </div>

  <div id="eventMap"></div>

</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/events-api/event-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initApp"></script>