<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-md-8 custom-forms">

      <header>
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6">
            <h1>Edit event</h1>
          </div>
          {{#with event}}
          <div class="col-md-6">
            <button class="btn btn-light event-pic-btn">Upload Event Picture</button>
            <form method="POST" action="/events/edit/picture?id={{id}}" class="pic-form hide" enctype="multipart/form-data">
                <div class="custom-file mt-2">
                    <input name="eventImageFile" type="file" class="custom-file-input" id="eventImageFile">
                    <label class="custom-file-label" for="imageFile">Select image</label>
                </div>
                <button type="submit" class="save-btn">Save</button>
                <button type="button" class="cancel-btn">Cancel</button>
            </form>
          </div>
        </div>
      </header>

      <hr>
      <form action='/events/{{id}}/edit' method='POST'>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for='name'>Name</label>
            <input type='text' class='form-control' id='name' name="name" value="{{name}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" value="{{classifications.0.genre.name}}">
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{dates.start.localDate}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="time">Time</label>
            <input type="time" class="form-control" id="time" name="time" value="{{dates.start.localTime}}">
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" value="{{_embedded.venues.0.city.name}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="venue">Venue</label>
            <input type="text" class="form-control" id="venue" name="venue" value="{{_embedded.venues.0.name}}">
          </div>
        </div>

        <div class="form-row">
          {{#with priceRanges.[0]}}
          <div class="col-md-6 mb-3">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" value="{{max}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="currency">Currency</label>
            <input type="text" class="form-control" id="currency" name="currency" value="{{currency}}">
          </div>
          {{/with}}
        </div>

        <div class='form-group'>
          <label for='url'>Tickets Url</label>
          <input type='text' class='form-control' id='url' name="url" value="{{url}}">
        </div>

        <div class="form-row">
          {{#with _embedded.venues.[0]}}
          <div class="col-md-6 mb-3">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude" value="{{location.latitude}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude" value="{{location.longitude}}">
          </div>
          {{/with}}
        </div>

        <div class="form-group">
          <label for="info">Description</label>
          <textarea name="info" id="info" cols="95" rows="4">{{info}}</textarea>
        </div>

        <div class="form-group">
          <button type='submit' class='btn btn-dark d-block'>Edit Event</button>
        </div>
        {{/with}}

        {{#if errorMsg}}
          {{errorMsg}}
        {{/if}}
      </form>
    </div>
  </div>
</div>



<script src="/javascripts/files-upload/event-pic-dom.js"></script>