<div class="container">

    <div class="tm-hero" w-type="event-discovery" w-tmapikey="{{ticketKey}}" w-googleapikey="{{mapsKey}}" w-keyword=""
        w-theme="simple" w-colorscheme="light" w-width="100%" w-height="550" w-size="25" w-border="" w-borderradius="5"
        w-postalcode="" w-radius="" w-city="" w-period="week" w-layout="fullwidth" w-attractionid="" w-promoterid=""
        w-venueid="" w-affiliateid="" w-segmentid="KZFzniwnSyZfZ7v7nJ" w-proportion="custom" w-titlelink="off"
        w-sorting="groupByName" w-id="id_1mnfek" w-countrycode="ES" w-source="" w-branding="Ticketmaster" w-latlong="">
    </div>

    <nav class="nav bg-light" style="padding-top: 20px; margin: 20px 0 10px 0;">

        <div class="container">

            <form id="event-search">
                <div class="row justify-content-between">

                    <div class="col-md-2">
                        <div class='form-group'>
                            <input id="nameEvent" type='text' name="name" class='form-control' placeholder="Hombres G">
                            <small id='nameHelp' class='form-text text-muted'>Artist</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class='form-group'>
                            {{!-- <label for='cityInput'>City</label> --}}
                            <input id="cityEvent" type='text' name="city" class='form-control' placeholder="Madrid">
                            <small id='cityHelp' class='form-text text-muted'>City</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class='form-group'>
                            {{!-- <label for='genreInput'>Genre</label> --}}
                            <input id="genreEvent" type='text' name="genre" class='form-control' placeholder="Punk">
                            <small id='genreHelp' class='form-text text-muted'>Genre</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class='form-group'>
                            {{!-- <label for='genreInput'>Genre</label> --}}
                            <input id="priceMin" type='text' name="priceMin" class='form-control' placeholder="min">
                            <small id='priceMinHelp' class='form-text text-muted'>Min price</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class='form-group'>
                            {{!-- <label for='genreInput'>Genre</label> --}}
                            <input id="priceMax" type='text' name="priceMax" class='form-control' placeholder="max">
                            <small id='priceMaxHelp' class='form-text text-muted'>Max price</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type='submit' class='btn btn-outline-warning'>Aply filters</button>
                    </div>

                </div>
            </form>
        </div>
    </nav>



    <div id="card-list" class="row justify-content-center">
        {{#each events}}
        <div class="col-md-6 col-lg-4">
            <div class="card mb-2" style="width: 18rem;">
                <img src="{{images.0.url}}" class="card-img-top" alt="${elm.name}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{ dates.start.localDate }} || {{ _embedded.venues.0.name}}</p>
                    <a href="/events/details/{{_id}}" class="btn btn-dark d-block event-details-btn">See more</a>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>


</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>
<script src="/javascripts/events-api/api-handler.js"></script>
<script src="/javascripts/events-api/index.js"></script>
<script src="/javascripts/successMsg.js"></script>