<div class="container">
    <div class="row justify-content-center my-3 user-profile">

        <div class="col-md-4 custom-forms user-info">

            <figure>
                <img src="{{user.avatar}}" alt="{{user.name}} ">
            </figure>
            <h3>{{user.fullname}}</h3>
            <h4>username: <strong>{{user.username}}</strong></h4>
            <p>Email address: <strong>{{user.email}}</strong></p>

            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/profile/edit" class="btn btn-dark btn-lg">Edit</a>
                <a href="/logout" class="btn btn-dark btn-lg">Log out</a>
                <a href="/profile/send-mail" class="btn btn-dark btn-lg">Attend</a>
            </div>
            
        </div>

        <div class="col-md-8 custom-forms">
            <div class="row">
                {{#each user.events_id}}
                    {{>eventCard}}
                {{/each}}
            </div>
        </div>
    </div>

</div>

