<div class="container">

    <figure>
        <img style="width: 100px; background-color: aliceblue;" src="{{user.avatar}}" alt="{{user.name}} ">
    </figure>
    <h3>Hola {{user.fullname}}</h3>
    <h4>a.k.a {{user.username}}</h4>
    <p>This is your email {{user.email}}</p>

    <a href="/profile/edit" class="btn btn-dark" style="margin-right: 20px;">Edit</a>
    <a href="/logout" class="btn btn-dark" style="margin-right: 20px;">Log out</a>
    <a href="/profile/send-mail" class="btn btn-dark">Attend</a>
</div>

