
<div class="container">
  <div id="eventDetailsContainer">
    <div class="row justify-content-center align-items-center">

          <div class="col-md-4 event-details-img">
            {{#with event}}
            <figure><img src="{{images.2.url}}" alt="{{name}}"></figure>
            <figcaption></figcaption>
          </div>

          <div class="col-md-8">
            <h2>{{name}}</h2>
            <hr>
            <ul>
              <li>Date: {{dates.start.localDate}}</li>
              <li>Venue: {{_embedded.venues.0.name}}</li>
              <li>City: {{_embedded.venues.0.city.name}}</li>
              <li>Price: {{priceRanges.0.max}} - {{priceRanges.0.currency}}</li>
            </ul>
            <hr>
            <p><strong>Description:</strong> {{info}}</p>
            <hr>
            <a class="btn btn-warning btn-lg" href="{{url}}" target="_blank">Buy tickets</a>
            {{/with}}
            {{#if isLogged}}
            <a class="btn btn-info btn-lg" href="/shows-crud/{{event.id}}/edit">Edit event</a>
            <a class="btn btn-danger btn-lg" href="/shows-crud/{{event.id}}/delete">Delete event</a>
            {{/if}}
          
          </div>
        </div>

    {{!-- <button id="eventIdFinal" value="{{Id}}"></button> --}}
  </div>

  <div id="eventMap"></div>

</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{{!-- <script src="/javascripts/ticketmaster-api/api-handler.js"></script>
<script src="/javascripts/ticketmaster-api/event-details.js"></script> --}}
<script src="/javascripts/shows-crud/event-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initApp"></script>